body{
	background-color: #933B00;
}


h1{
	margin-left:  10px;
	margin-top: 0px;
	margin-right: 10px;
	text-align: center;
	font-size: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: -4px;
	font-family: 'Montserrat', sans-serif;
	color:  white;
}

p{
	float: right;
	margin-right: 20px;
	border: 2px solid;
	margin-right: 10px;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #FF7E28;
	color: white;
	font-family: 'Montserrat', sans-serif;

}

